# Site language
lang: en-US

# Site title
title: QSL and more

# # A description of your site for meta tag, search engine results.
# description: The space where my qsl cards live

# The subpath of your site, e.g. /blog, for generating urls.
baseurl: ""

# The base hostname & protocol of your site for where absolute urls are needed.
url: "http://myqsl.github.io"

# Favicon
favicon: favicon.ico

# Google Analytics id, e.g. "UA-NNNNNNNN-N"
google_analytics: ""

# Site navigation - each item must have a title and a url.
navigation:
  - text: All
    url: /all/
  - text: Sites
    url: /sites/
  - text: Blog
    url: /blog/
  - text: About
    url: /about/

# The shortname for your Disqus site to enable comments.
# disqus: justgoodthemes

# Colors
accent_color: '#2d72d9'

# Site footer
footer:
  content: "Suggestions and questions to <shortwavesaregreat@gmail.com>."
#  has_social: true

# Plugins
plugins:
  - jekyll-feed
  - jekyll-paginate

# http://jekyllrb.com/docs/pagination/
paginate: 30
paginate_path: '/page:num/'

collections:
  series:
    output: true
  countries:
    output: false
  stations:
    output: false
  notes:
    output: true

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "qsl"
  - scope:
      path: ""
      type: "series"
    values:
      layout: "serie"
  - scope:
      path: ""
      type: "notes"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"


# Permalinks
# permalink: /:title

# Conversion
markdown: kramdown

# Sass
sass:
  sass_dir: _sass
  style: compressed
