<div class="rounded-box">

{% include qsldata.html qsl=include.qsl %}

<!-- gallery of related qsls -->
{% assign details_rendered = 'no' %}
{% assign related_qsls = site | qsls_for_serie: include.qsl.serie %}
{% for qsl in related_qsls %}
    {% if qsl != include.qsl %}

    {% if details_rendered == 'no' %}
    {% assign details_rendered = 'yes' %}
    <details class="more-from-serie">
    {% assign serie_title = site.data['series'][include.qsl.serie]['title'] %}
    <summary>More on {{ serie_title }}</summary>
    {% endif %}

    {% include qsldata.html qsl=qsl %}

    {% endif %}

{% endfor %}

<!-- end of gallery of related qsls -->

{% if details_rendered == 'yes' %}
</details>
{% endif %}

</div><!-- rounded-box -->
