
<p style="margin: 60px auto 60px auto; width: 100%; text-align: center; color: darkgray;">~ ~ ~ ~ ~ ~</p>

<div class="rounded-box">
{% if include.qsl.broadcaster %}
    {% assign correspondent = site.broadcasters | where: 'code', include.qsl.broadcaster | first %}
{% else %}
    {% assign correspondent = site.stations | where: 'code', include.qsl.station | first %}
{% endif %}
{% assign station = site.stations | where: 'code', include.qsl.station | first %}


<div class="header">
{% assign country = site.countries | where: 'code', correspondent.country | first %}


<a href="{{ include.qsl.url }}"><h2 style="color: #1756a9; font-size: x-large; font-weight: bold;"><img src="/assets/images/icons8-hand-right-48.png"/> {{ include.qsl.title }}</h2></a>

</div><!-- header -->

<p style="margin-top: 5px"><strong>{{ include.qsl.kind }} received:</strong></p>
<p>&middot; Frequency: {{ include.qsl.frequency }}</p>
<p>&middot; UTC Time of listening: {{ include.qsl.reception_time }}</p>
<p>&middot; Listening date: {{ include.qsl.reception_date }}</p>
<p>&middot; Contact: {{ include.qsl.mail_to }}</p>

<div class="qsl-gallery">

{% for image in include.qsl.gallery %}
{% assign full_small = image | split: ":" %}
<div class="qsl-image">
	{% if full_small[1] %}
<a href="{{ full_small[0] }}">
<img src="{{ full_small[1] }}"/>
</a>
{% else %}
<img src="{{ full_small[0] }}"/>
{% endif %}
</div>
{% endfor %}

<details>
<summary style="text-align: center; color: #1756a9; display: block; font-size: xx-large;">⯆</summary>

<!-- gallery of related qsls -->

{% assign qsls = site.posts
                | sort: 'reception_date'
                | reverse %}
{% for qsl in qsls %}
{% if qsl != include.qsl %}
    {% assign ok = false %}
    {% if qsl.serie %}
       {% if include.qsl.serie %}
          {% if qsl.serie == include.qsl.serie %}
	      {% assign ok = true %}
	  {% endif %}
       {% endif %}
    {% else %}
       {% if include.qsl.serie %}
       {% else %}
           {% if qsl.station %}
	       {% if include.qsl.station %}
	          {% if qsl.station == include.qsl.station %}
		     {% assign ok = true %}
		  {% endif %}
	       {% endif %}
	   {% endif %}
       {% endif %}
    {% endif %}

    {% if ok %}

        <a href="{{ qsl.url }}"><h4 style="text-align: center">{{ qsl.title }} . {{ qsl.frequency }} . {{ qsl.reception_date }} {{ qsl.reception_time }}</h4></a>
        {% for image in qsl.gallery %}
        {% assign full_small = image | split: ":" %}
        <div class="qsl-image">
            {% if full_small[1] %}
        <a href="{{ full_small[0] }}">
        <img src="{{ full_small[1] }}"/>
        </a>
        {% else %}
        <img src="{{ full_small[0] }}"/>
        {% endif %}
        </div>
        {% endfor %}

    {% endif %}

{% endif %}
{% endfor %}

<!-- end of gallery of related qsls -->

</details>

</div><!-- qsl-gallery -->

</div><!-- rounded-box -->
