<details class="qsldata"><summary>
<p style="display:inline-block"><strong>{{ include.qsl.kind }} received:</strong></p>
<p>&middot; Frequency: {{ include.qsl.frequency }}</p>
<p>&middot; UTC Time of listening: {{ include.qsl.reception_time }}</p>
<p>&middot; Listening date: {{ include.qsl.reception_date }}</p>
<p>&middot; Contact: {{ include.qsl.mail_to }}</p>
</summary>
<p>&middot; Language: {{ include.qsl.language }}</p>
<p>&middot; Location: {{ include.qsl.location }}</p> 
<p>&middot; Receiver: {{ include.qsl.receiver }}</p>
<p>&middot; Antenna: {{ include.qsl.antenna }}</p>
<p>&middot; Report sent: {{ include.qsl.report_sent}}</p>
<p>&middot; Response sent: {{ include.qsl.responce_sent}}</p>
<p>&middot; Response received: {{ include.qsl.responce_received}}</p>
{% if include.qsl.station %}
<p>&middot; Station: <a href="{{ include.station.url }}">{{ include.station.title }}</a>
{% endif %}
{% if include.qsl.serie %}
<p>&middot; Issuer: <a href="{{ include.serie.url }}">{{ include.serie.title }}</a>
{% endif %}
<p>&middot; Permalink: <a href="{{ include.qsl.url }}">{{ include.qsl.url }}</a>
{% if include.qsl.youtube_id %}
<p>&middot; Video: <a href="https://youtu.be/{{ include.qsl.youtube_id }}">Click to open the video (YouTube)</a></p>
<!--
<p class="full-youtube">
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.qsl.youtube_id }}" title="Record of the reception" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
-->
{% endif %}
</details>

<div class="qsl-gallery">
{% for image in include.qsl.gallery %}
{% assign full_small = image | split: ":" %}
<div class="qsl-image">
	{% if full_small[1] %}
<a href="{{ full_small[0] }}">
<img src="{{ full_small[1] }}"/>
</a>
{% else %}
<img src="{{ full_small[0] }}"/>
{% endif %}
</div>
{% endfor %}
</div><!-- qsl-gallery -->