{% if include.qsl.serie %}
    {% assign serie = site.data['series'][include.qsl.serie] %}
{% endif %}

<details class="qsldata"><summary>
<p style="display:inline-block; margin-bottom:auto; font-size: larger"><strong>{{ include.qsl.title }}</strong></p>
</summary>
<div class="qsldata-more">
{% if include.qsl.kind %}
<p>&middot; Kind: {{ include.qsl.kind }}</p>
{% endif %}
{% if include.qsl.mail_to %}
<p>&middot; Contact: {{ include.qsl.mail_to }}</p>
{% endif %}
{% if include.qsl.report_sent %}
<p>&middot; Report sent: {{ include.qsl.report_sent}}</p>
{% endif %}
{% if include.qsl.responce_sent %}
<p>&middot; Response sent: {{ include.qsl.responce_sent}}</p>
{% endif %}
{% if include.qsl.responce_received %}
<p>&middot; Response received: {{ include.qsl.responce_received}}</p>
{% endif %}
{% if include.qsl.serie %}
<p>&middot; Issuer: <a href="/series/{{ serie['code'] }}">{{ serie['title'] }}</a>
{% endif %}
<p>&middot; Permalink: <a href="{{ include.qsl.url }}">{{ include.qsl.url }}</a>

{% for reception in include.qsl.receptions %}
<p><div style="border: dashed; border-color: lightgray; border-width: 2px; border-radius: 20px;">
{% if reception.frequency %}
<p>&middot; Frequency: {{ reception.frequency }}</p>
{% endif %}
{% if reception.time %}
<p>&middot; UTC Time of listening: {{ reception.time }}</p>
{% endif %}
{% if reception.date %}
<p>&middot; Listening date: {{ reception.date }}</p>
{% endif %}
{% if reception.language %}
<p>&middot; Language: {{ reception.language }}</p>
{% endif %}
{% if reception.location %}
<p>&middot; Location: {{ reception.location }}</p>
{% endif %}
{% if reception.receiver %}
<p>&middot; Receiver: {{ reception.receiver }}</p>
{% endif %}
{% if reception.antenna %}
<p>&middot; Antenna: {{ reception.antenna }}</p>
{% endif %}
{% if reception.station %}
{% assign station_code = reception.station %}
{% assign station = site.data['stations'][station_code] %}
{% assign station_title = station['title'] %}
<p>&middot; Station: <a href="/stations/{{ station_code }}.html">{{ station_title }}</a>
{% endif %}
{% if reception.youtube_id %}
<p>&middot; Video: <a href="https://youtu.be/{{ reception['youtube_id'] }}">Click to open the video (YouTube)</a></p>
{% endif %}
</div></p>
{% endfor %} <!-- reception -->

</div> <!-- end-of-qsldata-more -->
</details>

<div class="qsl-gallery">
{% for image in include.qsl.gallery %}
{% assign full_small = image | split: ":" %}
<div class="qsl-image">
	{% if full_small[1] %}
<a href="{{ full_small[0] }}">
<img src="{{ full_small[1] }}"/>
</a>
{% else %}
<img src="{{ full_small[0] }}"/>
{% endif %}
</div>
{% endfor %}
</div><!-- qsl-gallery -->
