<p><code>January 08</code>&nbsp;⚪️ Report submitted to Voice of Mongolia (Jp) <a href="https://youtu.be/PyxtGWiHWuM"><img src="/assets/images/yt.png"/></a></p>
<p><code>January 07</code>&nbsp;<strong>VIETNAM</strong> e-QSL received from Voice of Vietnam <a href="/2025/01/07/vov.html"><img src="/assets/images/share.png"/></a></p>
<p><code>January 07</code>&nbsp;⚪️ Report submitted to IRIB Bangla <a href="https://youtu.be/J0rrVkz-67k"><img src="/assets/images/yt.png"/></a></p>
<p><code>January 06</code>&nbsp;⚪️ Report submitted to Radio Taiwan Int. <a href="https://youtu.be/Js2lTTMEKig"><img src="/assets/images/yt.png"/></a></p>
<p><code>January 06</code>&nbsp;⚪️ Report submitted to Hope Radio <a href="https://youtu.be/KMMx9W7NZhQ"><img src="/assets/images/yt.png"/></a></p>