<p><code>July 12</code>&nbsp;⚪️ Report submitted to Radio Palavra Alegre <a href="https://youtu.be/ES036_2x1kQ"><img src="/assets/images/yt.png"/></a></p>
<p><code>July 12</code>&nbsp;⚪️ Report submitted to Radio Veronica <a href="https://youtu.be/PVwQHU-Ba8E"><img src="/assets/images/yt.png"/></a></p>
<p><code>July 10</code>&nbsp;<strong>KYRGYZSTAN</strong> e-QSL received from Trans World Radio <a href="/2024/03/15/twrkgz.html"><img src="/assets/images/share.png"/></a></p>
<p><code>July 10</code>&nbsp;<strong>TURKEY</strong> QSL received from Voice of Turkey <a href="/2024/04/21/tsr.html"><img src="/assets/images/share.png"/></a></p>
<p><code>June 29</code>&nbsp;⚪️ Report submitted to Golos And <a href="https://youtu.be/vYP8wxWxc1E"><img src="/assets/images/yt.png"/></a></p>