<p><code>August 26</code>&nbsp;⚪️ Report submitted to KBS World Radio (Spanish) <a href="https://youtu.be/esTquhsorEE"><img src="/assets/images/yt.png"/></a></p>
<p><code>August 23</code>&nbsp;⚪️ Report submitted to Bible Voice Broadcasting <a href="https://youtu.be/5FxJHFKD3f8"><img src="/assets/images/yt.png"/></a></p>
<p><code>August 23</code>&nbsp;⚪️ Report submitted to Voice of Turkey <a href="https://youtu.be/VWp2pBC1YJE"><img src="/assets/images/yt.png"/></a></p>
<p><code>August 23</code>&nbsp;⚪️ Report submitted to Reach Beyond Australia <a href="https://youtu.be/tJxHULMQrOE"><img src="/assets/images/yt.png"/></a></p>
<p><code>August 23</code>&nbsp;⚪️ Report submitted to Radio Free Asia <a href="https://youtu.be/bqnczkWQI7E"><img src="/assets/images/yt.png"/></a></p>