---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width:    1200px !default;

@import "minima";

body {
    background-color: #F0F2F5;
}

@media screen and (min-width: 1200px) {
    .excerpt {
        float: left;
        //max-width: -webkit-calc(#{$content-width} - (300px));
        //max-width:         calc(#{$content-width} - (300px));
        width: 980px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .excerpt {
        float: left;
        //max-width: -webkit-calc(#{$content-width} - (300px));
        //max-width:         calc(#{$content-width} - (300px));
        width: 700px; 
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .excerpt {
        float: left;
        //max-width: -webkit-calc(#{$content-width} - (600px));
        //max-width:         calc(#{$content-width} - (600px));
        width: 500px;
    }
}

@media screen and (max-width: 400px) {
    .excerpt {
        float: left;

    }
}

figure.front_image {
    //margin: 10px 10px 10px 10px;
    //padding: 10px 10px 10px 10px;
    padding-right: 10px;
    //border: solid 1px gray;
}

.front_image img {
    width: 100%;
    box-shadow: 6px 3px 3px gray;
    border: solid 1px lightgrey;
}

figure.back_image {
    //margin: 10px 10px 10px 10px;
    //padding: 10px 10px 10px 10px;
    padding-right: 10px;
    //border: solid 1px gray;
}

.back_image img {
    width: 100%;
    box-shadow: 6px 3px 3px gray;
    border: solid 1px lightgrey;
}

div.item {
    overflow: auto;
    border: solid 1px dodgerblue;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

div.item:hover {
    border-width: 3px;
}

.qitem {
    //overflow: auto;
    //border: solid 1px dodgerblue;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    width: 150px;
    //height: 100px;
    float: left;
    object-fit: cover;
}

.qitem img {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 6px 3px 3px lightgray;
}

.qitem p {
    font-size: small;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .left_column {
        //width: 50%;
        //width: -webkit-calc(#{$content-width} - (700px));
        //width:         calc(#{$content-width} - (700px));
        width: -webkit-calc(100% - (400px));
        width:         calc(100% - (400px));
        float: left;
    }

}

    .right_column {
        width: 400px;
        float: left;
    }

.trigger form {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
}

div.latest-qsl {
    margin: auto auto 40px auto;
    border-radius: 20px; //min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

@media screen and (min-width: 800px) {
    div.latest-qsl {
        width: 800px;
    }
}

div.latest-qsl .header {
    padding: 20px 20px 10px 20px;
    border-bottom-color: #F0F2F5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

div.latest-qsl .qsl-gallery {
    padding: 10px 20px 20px 20px;
}

.latest-qsl h2 {
    font-weight: bold;
    margin-bottom: 5px;
}

.latest-qsl .subtitle {
    font-size: small;
    color: lightgray;
    margin-bottom: 5px;
}

@media screen and (min-width: 800px) {
    .latest-qsl img {
        width: -webkit-calc(50% - (150px));
        width:         calc(50% - (150px));
        float: left;
        margin: 5px 5px 5px 5px;
    }

}

.flag {
    width: 20px;
}
