---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

figure.front_image {
    //margin: 10px 10px 10px 10px;
    //padding: 10px 10px 10px 10px;
    padding-right: 10px;
    //border: solid 1px gray;
}

figure.back_image {
    //margin: 10px 10px 10px 10px;
    //padding: 10px 10px 10px 10px;
    padding-right: 10px;
    //border: solid 1px gray;
}

div.item {
    overflow: auto;
    border: solid 1px dodgerblue;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

div.item:hover {
    border-width: 3px;
}

@media screen and (min-width: 800px) {
    .left_column {
        width: 50%;
        float: left;
    }

    .right_column {
        width: 50%;
        float: right;
    }
}
