---
layout: page
---

{% assign qsls_by_stations = site | qsls_group_by_station_for_country: page.code %}
{% assign stations_codes = qsls_by_stations | keys %}

<div class="rounded-box">

    <div style="padding: 15px 5px 5px 15px;">
    
    <ol>
      {% for station_code in stations_codes %}
      {% assign qsls = qsls_by_stations[station_code] %}
    {% for qsl in qsls %}
    {% for reception in qsl.receptions %}
    {% if stations_codes contains reception['station'] %}
    <li>
      <p>
        {% assign serie = site.data['series'][qsl.serie] %}
        <code>{{ reception.date }} {{ reception.time }}</code>
        <a href="{{ qsl.url }}">
        {{ qsl.kind }}
            | {{ reception.frequency }}
            {% if qsl.serie %}
            | {{ serie['title'] }}
            {% endif %}
            {% if reception.language %}
            | {{ reception.language }}
            {% endif %}
        </a>
      </p>
    </li>
    {% endif %} <!-- reception station ...-->
    {% endfor %} <!-- reception -->
    {% endfor %} <!-- qsl -->
    {% endfor %} <!-- station_code -->
    </ol>
    </div>
    </div> <!-- rounded-box -->    

{% for station_code in stations_codes %}
{% assign qsls = qsls_by_stations[station_code] %}

{% for qsl in qsls %}
{% for reception in qsl.receptions %}
    {% if reception['station'] == station_code %}
    {% include qslboxlite.html qsl=qsl %}
    {% break %}
    {% endif %}
{% endfor %}
{% endfor %}

{% endfor %} <!-- for station_code -->
