---
layout: page
---

{% assign stations = site.stations | where: 'country', page.code %}

<div class="rounded-box">

    <div style="padding: 15px 5px 5px 15px;">
    
    <ol>
    {% for qsl in site.posts %}
    {% for reception in qsl.receptions %}
    {% assign stations_this_reception = stations | where: 'code', reception.station %}
    {% if stations_this_reception != empty %}
    <li>
      <p>
        {% assign serie = site.series | where: 'code', qsl.serie | first %}
        <code>{{ reception.date }} {{ reception.time }}</code>
        <a href="{{ qsl.url }}">
        {{ qsl.kind }}
            | {{ reception.frequency }}
            {% if qsl.serie %}
            | {{ serie.title }}
            {% endif %}
            {% if reception.language %}
            | {{ reception.language }}
            {% endif %}
        </a>
      </p>
    </li>
    {% endif %} <!-- reception station ...-->
    {% endfor %} <!-- reception -->
    {% endfor %} <!-- qsl -->
    </ol>
    </div>
    </div> <!-- rounded-box -->    

{% for station in stations %}

{% for qsl in site.posts %}
{% for reception in qsl.receptions %}
    {% if reception.station == station.code %}
    {% include qslboxlite.html qsl=qsl %}
    {% break %}
    {% endif %}
{% endfor %}
{% endfor %}

{% endfor %} <!-- for station -->
