---
layout: page
---

{% assign stations_codes = site.data['stations'] | where: 'country', page.code | map: 'code' | sort %}

<div class="rounded-box">

<div class="large-itu-list">
<div class="qsl-list">

{% assign index = 0 %}
{% for station_code in stations_codes %}
{% assign qsls = site | qsls_for_station: station_code %}
{% for qsl in qsls %}
{% assign index = index | plus: 1 %}
{% assign first = 1 %}
{% for reception in qsl.receptions %}
{% if reception['station'] == station_code %}

{% if first == 1 %}
    {% assign first = 0 %}
    {% if index < 10 %}
        {% assign index_to_show = index | prepend: "0" %}
    {% else %}
        {% assign index_to_show = index %}
    {% endif %}
{% else %}
    {% assign index_to_show = "&nbsp;&nbsp;" %}
{% endif %}

{% assign frequency = reception['frequency'] | split: ' kHz' | first %}
{% assign frequency_to_show = frequency %}
{% assign max_qsl_title = 42 | minus: frequency.size %}
{% assign max_qsl_title_m1 = max_qsl_title | minus: 1 %}

{% assign qsl_title = qsl['title'] | truncate: max_qsl_title, "" %}
{% for i in (qsl_title.size .. max_qsl_title_m1) %}
    {% assign qsl_title = qsl_title | append: "&nbsp;" %}
{% endfor %}

<p class="qsls-itu-list">
<a href="{{ qsl.url }}">{{ index_to_show }}&nbsp;{{ qsl_title }}&nbsp;{{ frequency_to_show }}&nbsp;{{ reception['date'] }}</a>
</p>

{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
</div>
</div>

<div class="small-itu-list">
<div class="qsl-list">

{% assign index = 0 %}
{% for station_code in stations_codes %}
{% assign qsls = site | qsls_for_station: station_code %}
{% for qsl in qsls %}
{% assign index = index | plus: 1 %}
{% assign first = 1 %}
{% for reception in qsl.receptions %}
{% if reception['station'] == station_code %}

{% if first == 1 %}
    {% assign first = 0 %}
    {% if index < 10 %}
        {% assign index_to_show = index | prepend: "0" %}
    {% else %}
        {% assign index_to_show = index %}
    {% endif %}
{% else %}
    {% assign index_to_show = "&nbsp;&nbsp;" %}
{% endif %}

{% assign qsl_title = qsl['title'] | truncate: 30, "" %}
{% for i in (qsl_title.size .. 29) %}
    {% assign qsl_title = qsl_title | append: "&nbsp;" %}
{% endfor %}

<p class="qsls-itu-list">
<a href="{{ qsl.url }}">{{ index_to_show }}&nbsp;{{ qsl_title }}&nbsp;{{ reception['date'] }}</a>
</p>

{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
</div>
</div>

</div> <!-- rounded-box -->    

{% for station_code in stations_codes %}
{% assign qsls = site | qsls_for_station: station_code %}

{% for qsl in qsls %}
{% for reception in qsl.receptions %}
    {% if reception['station'] == station_code %}
    {% include qslboxlite.html qsl=qsl %}
    {% break %}
    {% endif %}
{% endfor %}
{% endfor %}

{% endfor %} <!-- for station_code -->
