---
layout: default
---
<!--
<link rel="stylesheet" href="/assets/node_modules/jquery-colorbox/example1/colorbox.css" />

<link rel="stylesheet" href="/assets/node_modules/swipebox/src/css/swipebox.min.css" />

<link rel="stylesheet" href="/assets/justifiedGallery.css" />
-->
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- <h2 class="post-list-heading">Latest QSL</h2> -->
    {% assign qsls = site.qsls | sort: 'responce_received' | reverse %}

    {% for qsl in qsls %}
      <div class="latest-qsl">
        {% assign station = site.stations | where: 'code', qsl.station | first %}
<!--
        <code>{{ qsl.responce_received }}</code> {{ qsl.kind }}
            from {{ station.title }}
            | {{ qsl.reception_date }} | {{ qsl.reception_time }}
            | {{ qsl.frequency }}
            {% if qsl.transmitter %}
            {% assign tx = site.transmitters | where: 'code', qsl.transmitter | first %}
            {% assign country = site.countries | where: 'code', tx.country | first %}
            | {{ tx.title }}, {{ country.title }}
            {% endif %}
            | <a href="{{ qsl.mail_to }}">{{ qsl.mail_to }}</a>
-->

        <div class="header">
          <h2>
        {% assign country = site.countries | where: 'code', station.country %}

        {% if country %} {% assign c = country | first %}
          <img src="{{ c.flag }}" style="width: 50px; margin-right: 20px;" />
        {% endif %} {{ station.title }}</h2>

        <p class="subtitle">Submitted on {{ qsl.report_sent | date_to_long_string}} &bullet; Received on {{ qsl.responce_received | date_to_long_string }}</p>

        </div>

        <div class="qsl-gallery">

        <a href="{{ qsl.url }}">
        <img src="{{ qsl.front_small }}"/>
        </a>
        
        <a href="{{ qsl.url }}">
        <img src="{{ qsl.back_small }}"/>
        </a>

        </div>

      <div style="clear:both">&nbsp;</div>
      </div>
    {% endfor %}


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">Latest posts (in Russian)</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <div style="float:left; margin-right: 10px; margin-top: 10px; width: 150px; ">
        <img src="{{ post.image }}"/>
        </div>
        <div class="excerpt"> 
        

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        </div>
        <div style="clear:both" />
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
<!--
    <script src="/js/node_modules/jquery/dist/jquery.js"></script>
    <script src="/js/node_modules/jquery-colorbox/jquery.colorbox.js"></script>

<script src="/js/node_modules/swipebox/src/js/jquery.swipebox.min.js"></script>

    <script src="/js/jquery.justifiedGallery.js"></script>

    <script>
  $(".qsl-gallery").justifiedGallery({
        rowHeight: 300,
        margins: 1
  });
  </script>
-->
</div>
