---
layout: post
---

<div class="left_column">

{% if page.front_full %}
<figure class="front_image"><a href="{{ page.front_full }}"><img src="{{ page.front_small }}"/></a></figure>
{% endif %}

{% if page.back_full %}
<figure class="back_image"><a href="{{ page.back_full }}"><img src="{{ page.back_small }}"/></a></figure>
{% endif %}

{% assign station = site.stations | where: 'code', page.station | first %}
{% if station %}
<p><code>Station</code> <a href="{{ station.url }}">{{ station.title }}</a></p>
{% endif %}

<p><code>Confirmed</code> {{ page.kind }}/<a href="{{ page.mail_to }}">{{ page.mail_to }}</a></p>
<p><code>Frequency</code> {{ page.frequency }}</p>
<p><code>Language</code> {{ page.language }}</p>
<p><code>Date</code> {{ page.reception_date | date_to_string }}</p>
<p><code>Time UTC</code> {{ page.reception_time }}</p>
<p><code>Location</code> {{ page.location }}</p>
<p><code>Radio</code> {{ page.receiver }}</p>
<p><code>Antenna</code> {{ page.antenna }}</p>
{% if page.transmitter %}
{% assign tx = site.transmitters | where: 'code', page.transmitter | first %}
<p><code>Tx</code> <a href="{{ tx.url }}">{{ tx.title }}
{% if tx.address %}
, {{ tx.address }}
{% endif %}
, {{ tx.country }}</a></p>
{% endif %}
<p><code>Report sent</code> {{ page.report_sent | date_to_string }}</p>
<p><code>Responce sent</code> {{ page.responce_sent | date_to_string }}</p>
<p><code>Responce received</code> {{ page.responce_received | date_to_string }}</p>

{% if page.organization %}
{% assign org = site.organizations | where: 'code', page.organization | first %}
{% if org %}
<p><code>Organisation</code> <a href="{{ org.url }}">{{ org.title }}</a></p>
{% endif %}
{% endif %}

{% if page.youtube_id %}
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube_id }}" title="Record of the reception" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
{% endif %}

{{ content }}

</div>


<div class="right_column">
{% if page.organization %}
{% assign qsls = site.qsls
                | where: 'organization', page.organization
                | sort: 'reception_date'
                | reverse %}

{% for qsl in qsls %}
<div class="item">
  <img src="{{ qsl.front_small }}" width="150px" style="float:left; margin-right: 10px; "/>
  <h4><a href="{{ qsl.url }}">{{ qsl.title }}</a></h4>
  <!-- <p>
  Дата: {{ qsl.reception_date | date_to_string }}
  </p> -->
  <!-- <p>{{ qsl.content | markdownify }}</p> -->
</div>
{% endfor %}
{% endif %}
</div>
