---
layout: page
---

{% assign qsls = site.posts | where: 'serie', page.code %}

<div class="rounded-box">
<div style="padding: 15px 5px 5px 15px;">
  <ol>
{% for qsl in qsls %}
{% for reception in qsl.receptions %}
  {% assign station = site.stations | where: 'code', reception.station | first %}
<li>
    <p>
      <code>{{ reception.date }} {{ reception.time }}</code>
      <a href="{{ qsl.url }}">
      {{ qsl.kind }}
          | {{ reception.frequency }}
          | {{ station.title }}
          {% if reception.language %}
          | {{ reception.language }}
          {% endif %}
      </a>
    </p>
    </li>
{% endfor %}
{% endfor %}
</ol>
</div>
</div>

{% assign revqsls = qsls | reverse %}
{% for qsl in revqsls %}
{% include qslboxlite.html qsl=qsl %}
{% endfor %}
