---
layout: page
---

{% assign qsls = site.posts | where: 'serie', page.code %}

{% for qsl in qsls %}
<div class="qsl-gallery-title" id="{{ qsl.date | date: "%Y-%m-%d" }}">
<h3 class="qsl-subtitle">
  <ul>
	<li>{{ qsl.title }}</li>
	{% for reception in qsl.receptions %}
	<li>
	{% if reception.date %}
		&#x1F4C5; {{ reception.date | date_to_string }}
	{% endif %}
	{% if reception.time %}
		&#x1F550; {{ reception.time }} UTC
	{% endif %}
	{% if reception.frequency %}
		&#x1F4FB; {{ reception.frequency }}
	{% endif %}
	</li>
	{% endfor %}
</ul>
</h3>
</div>

		<div class="centered">
		<details class="tiny-link">
			<summary>Подробности приема</summary>
			<div class="qsl-info">
				<ul>
				{% if qsl.kind %}
				<li>Kind: {{ qsl.kind }}</li>
				{% endif %}
				{% if qsl.mail_to %}
				<li>Contact: {{ qsl.mail_to }}</li>
				{% endif %}
				{% if qsl.report_sent %}
				<li>Report sent: {{ qsl.report_sent}}</li>
				{% endif %}
				{% if qsl.responce_sent %}
				<li>Response sent: {{ qsl.responce_sent}}</li>
				{% endif %}
				{% if qsl.responce_received %}
				<li>Response received: {{ qsl.responce_received}}</li>
				{% endif %}
				{% if qsl.serie %}
				<li>Issuer: <a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endif %}
				<li>Permalink: <a href="{{ qsl.url }}">{{ qsl.url }}</a></li>

				{% for reception in qsl.receptions %}
				<p><div style="border: dashed; border-color: lightgray; border-width: 2px; border-radius: 20px;">
				{% if reception.frequency %}
				<li>Frequency: {{ reception.frequency }}</li>
				{% endif %}
				{% if reception.time %}
				<li>UTC Time of listening: {{ reception.time }}</li>
				{% endif %}
				{% if reception.date %}
				<li>Listening date: {{ reception.date }}</li>
				{% endif %}
				{% if reception.language %}
				<li>Language: {{ reception.language }}</li>
				{% endif %}
				{% if reception.location %}
				<li>Location: {{ reception.location }}</li>
				{% endif %}
				{% if reception.receiver %}
				<li>Receiver: {{ reception.receiver }}</li>
				{% endif %}
				{% if reception.antenna %}
				<li>Antenna: {{ reception.antenna }}</li>
				{% endif %}
				{% if reception.station %}
				{% assign station = site.stations | where: 'code', reception.station | first %}
				{% assign country = site.countries | where: 'code', station.country | first %}
				<li>Station: <a href="{{ station.url }}">{{ station.title }} ({{ country.title }})</a></li>
				{% endif %}
				{% if reception.youtube_id %}
				<li>Video: <a href="https://youtu.be/{{ reception.youtube_id }}">Click to open the video (YouTube)</a></li>
				{% endif %}
				</div></p>
				{% endfor %} <!-- reception -->
				</ul>
		  </div>
		</details>
		</div>


<div class="qsl-gallery">
{% for image in qsl.gallery %}
{% assign small_image = image | split: ":" | last %}
<img src="{{ small_image }}"/>
{% endfor %}
</div><!-- qsl-gallery -->


{% endfor %}
