---
layout: page
---

{% assign qsls = site.qsls
                | where: 'station', page.code
                | sort: 'reception_date'
                %}

{% for qsl in qsls %}
<div class="qitem">
  <a href="{{ qsl.url }}">
  <img src="{{ qsl.front_small }}"/>
  <!-- <p>{{ qsl.title }}</p> -->
  </a>
</div>
{% endfor %}

<div style="clear:both">&nbsp;</div>

{% for qsl in qsls %}
  <p>
    {% assign station = site.stations | where: 'code', qsl.station | first %}
    {% assign tx = site.transmitters | where: 'code', qsl.transmitter | first %}
    {% assign tx_country = site.countries | where: 'code', tx.country | first %}
    <code>{{ qsl.reception_date }} {{ qsl.reception_time }}</code>
    <a href="{{ qsl.url }}">
    {{ qsl.kind }}
        | {{ qsl.frequency }}
        | {{ qsl.language }}
        {% if qsl.transmitter %}
        | {{ tx.title }}, {{ tx_country.title }}
        {% endif %}
    </a>
  </p>
{% endfor %}
