---
layout: page
---

{% assign country = site.data['countries'][page.country] %}
{% assign country_flag = country['flag'] %}
{% assign country_title = country['title'] %}
{% assign country_continent = country['continent'] %}
{% assign qsls = site | qsls_for_station: page.code %}

<div class="rounded-box">

<div class="header">
{% if page.country %}
<p><code>Country</code> <img src="{{ country_flag }}" class="flag"> {{ country_title }} ({{ country_continent }})</p>
{% endif %}

{% if page.address %}
<p><code>Address</code> {{ page.address }}</p>
{% endif %}
{% if page.coordinates %}
<p><code>Coordinates</code> <a href="http://yandex.ru/maps/?text={{ page.coordinates | replace: ',', '%2C' }}">{{ page.coordinates }}</a></p>
{% endif %}
</div>

<div class="large-itu-list">
<div class="qsl-list">

{% assign index = 0 %}
{% for qsl in qsls %}
{% for reception in qsl.receptions %}
{% if reception['station'] == page.code %}

{% assign index = index | plus: 1 %}
{% if index < 10 %}
    {% assign index = index | prepend: "0" %}
{% endif %}

{% assign frequency = reception['frequency'] | split: ' kHz' | first %}
{% assign frequency_to_show = frequency %}
{% assign max_qsl_title = 42 | minus: frequency.size %}
{% assign max_qsl_title_m1 = max_qsl_title | minus: 1 %}

{% assign qsl_title = qsl['title'] | truncate: max_qsl_title, "" %}
{% for i in (qsl_title.size .. max_qsl_title_m1) %}
    {% assign qsl_title = qsl_title | append: "&nbsp;" %}
{% endfor %}

<p class="qsls-itu-list">
<a href="{{ qsl.url }}">{{ index }}&nbsp;{{ qsl_title }}&nbsp;{{ frequency_to_show }}&nbsp;{{ reception['date'] }}</a>
</p>

{% endif %}
{% endfor %}
{% endfor %}
</div>
</div>

<div class="small-itu-list">
<div class="qsl-list">

{% assign index = 0 %}
{% for qsl in qsls %}
{% for reception in qsl.receptions %}
{% if reception['station'] == page.code %}

{% assign index = index | plus: 1 %}
{% if index < 10 %}
    {% assign index = index | prepend: "0" %}
{% endif %}

{% assign qsl_title = qsl['title'] | truncate: 30, "" %}
{% for i in (qsl_title.size .. 29) %}
    {% assign qsl_title = qsl_title | append: "&nbsp;" %}
{% endfor %}

<p class="qsls-itu-list">
<a href="{{ qsl.url }}">{{ index }}&nbsp;{{ qsl_title }}&nbsp;{{ reception['date'] }}</a>
</p>

{% endif %}
{% endfor %}
{% endfor %}
</div>
</div>

</div>

{% for qsl in qsls %}
{% for reception in qsl.receptions %}
{% if reception['station'] == page.code %}
{% include qslboxlite.html qsl=qsl %}
{% break %}
{% endif %}
{% endfor %}
{% endfor %}
