---
layout: page
---

{% assign qsls = site.posts
                | where: 'station', page.code
                | sort: 'reception_date'
                %}

{% assign country = site.countries | where: 'code', page.country | first %}

<div class="rounded-box">

<div class="header">
{% if page.country %}
<p><code>Country</code> <img src="{{ country.flag }}" class="flag"> {{ country.title }} ({{ country.continent }})</p>
{% endif %}

{% if page.address %}
<p><code>Address</code> {{ page.address }}</p>
{% endif %}
{% if page.coordinates %}
<p><code>Coordinates</code> <a href="http://yandex.ru/maps/?text={{ page.coordinates | replace: ',', '%2C' }}">{{ page.coordinates }}</a></p>
{% endif %}
</div>

<div style="padding: 15px 5px 5px 15px;">

{% for qsl in qsls %}
  <p>
    {% assign broadcaster = site.broadcasters | where: 'code', qsl.broadcaster | first %}
    <code>{{ qsl.reception_date }} {{ qsl.reception_time }}</code>
    <a href="{{ qsl.url }}">
    {{ qsl.kind }}
        | {{ qsl.frequency }}
        {% if qsl.broadcaster %}
        | {{ broadcaster.title }}
        {% endif %}
        {% if qsl.language %}
        | {{ qsl.language }}
        {% endif %}
    </a>
  </p>
{% endfor %}
</div>
</div>

{% for qsl in qsls %}
{% include qslbox.html qsl=qsl %}
{% endfor %}
